.list {
  height: 100%;
  overflow-y: scroll;

  &__item {
    & + & {
      border-top: solid 1px #ccc;
    }
  }
}

.day {
  padding: 5px;
  cursor: pointer;

  &._selected {
    font-weight: 600;
  }

  &__date {
    //
  }

  &__text {
    height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
