{
  "projectId": "fir-diary-b3104",
  "appId": "1:946570334307:web:b87b89fcb5efd59a18a856",
  "databaseURL": "https://fir-diary-b3104.firebaseio.com",
  "storageBucket": "fir-diary-b3104.appspot.com",
  "locationId": "us-central",
  "apiKey": "AIzaSyACeSFFTi3J7xL1dPeDWbyuSftacQeWuHI",
  "authDomain": "fir-diary-b3104.firebaseapp.com",
  "messagingSenderId": "946570334307",
  "measurementId": "G-2YDCVZ68L5"
}