.root {
  max-width: 280px;
}

.header {
  display: flex;
  justify-content: space-between;

  &__date {
    flex: 1 1 0;
    text-align: center;
  }

  &__button {
    & + & {
      margin-left: 5px;
    }
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  &__cell {
    position: relative;

    &::before {
      display: block;
      padding-top: 100%;
      content: '';
    }
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &._other {
    color: #ccc;
  }

  &._inputted {
    font-size: 1.7rem;
    font-weight: 600;
  }

  &._selected {
    color: #fff;
    background-color: #4190e2;
    border-radius: 50%;
  }
}
